
    <!doctype html>
    <html>
        <head>
            <title>Maison page</title>
            <meta charset="utf-8" />

            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">


            <style>
                html, body {
                    margin:0;
                    padding:0;

                    background: skyblue;
                    color: #FFFFFF;
                    font-size: 2em;
                    text-align: center;

                }
                p {
                   font-family: 'Indie Flower', cursive;
                }
            </style>
        </head>
        <body>
            <img src="https://speckyboy.com/wp-content/uploads/2010/03/four-oh-four_08.jpg">
        </body>
    </html>
