
    <!doctype html>
    <html>
        <head>
            <title>Maison page</title>
            <meta charset="utf-8" />

            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">


            <style>
                html, body {
                    margin:0;
                    padding:0;

                    background: skyblue;
                    color: #FFFFFF;
                    font-size: 2em;
                    text-align: center;

                }
                p {
                   font-family: 'Indie Flower', cursive;
                }
            </style>
        </head>
        <body>
           <img src="https://i1.wp.com/atmont.fr/ouest2/wp-content/uploads/2016/08/contact-us.png?fit=1304%2C500">
        </body>
    </html>
