
    <!doctype html>
    <html>
        <head>
            <title>Maison page</title>
            <meta charset="utf-8" />

            <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">


            <style>
                html, body {
                    margin:0;
                    padding:0;

                    background: skyblue;
                    color: #FFFFFF;
                    font-size: 2em;
                    text-align: center;

                }
                p {
                   font-family: 'Indie Flower', cursive;
                }
            </style>
        </head>
        <body>
          <% include partials/navbar.ejs %>
            <h1>Enfin du web !</h1>
            <p>Et on aime ça.</p>
        </body>
    </html>
